<launch>
  <include file="$(find rgbd_object_detection)/launch/kinect.launch"/>
  <node name="tabletop_detector" pkg="object_recognition_core" type="detection" args=" -c $(find rgbd_object_detection)/config/detection_table_and_clusters.ork" output="screen" />
  <node name="cloud_accumulator" pkg="rgbd_object_detection" type="cloud_accumulator" >
    <param name="cloud_number" value="15"/>
  </node>
  <node name="object_detection" pkg="rgbd_object_detection" type="detection_pipeline_server" output="screen" />
</launch>
